<!DOCTYPE html>
<html lang="ja">
<head>
  <title>iMageTranslator</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="ja">
  <link rel="stylesheet" href="../static/css/land.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>iMageTranslator</h1>
  </header>

  <main>
    <section id="salestalk">
      <h2>繊細な画像翻訳を手元に</h2>
    </section>

    <section id="intro">
      <h2>アプリ紹介</h2>
      <img src="../static/css/app.png">
      
      <p>コピーができないテキストや本の中に読めない英文が出てきた時、私たちはそれを翻訳するために自力で直接入力する必要がありました。もしくは、Google翻訳でスマホをかざせば翻訳ができます。このアプリは、一度スマホで写真を撮る必要はあるもののGoogle翻訳よりも繊細な英日翻訳を可能にするDeepLを使用した画像翻訳アプリです。</p>
    </section>

    <section id="feature">
      <h2>特徴</h2>

      <div id="account">
	<h3>会員登録不要</h3>

	<p>会員登録は不要です。ページに直接アクセスするだけで使用することができます。</p>
      </div>

      <div id="deepl">
	<h3>DeepL APIを使用</h3>

	<p>Google翻訳よりも繊細であると評価されているDeepLを使用しています。英文をより正確に日本語に翻訳することが可能です。</p>
      </div>

      <div id="simple">
	<h3>シンプルな操作</h3>

	<p>操作は簡単、スマホで英文が載っている部分を撮影してアップロードするだけ。英文の文字認識が不適当な場合は任意に編集することもできます。</p>
      </div>
    </section>

    <section id="use">
      <h2>アプリを使ってみる</h2>

      <p id="arrow">↓↓</p>

      <a href="{{url_for('tr')}}"><p id="link">iMageTranslatorを使ってみる</p></a>
    </section>
  </main>

  <footer>
    <p>© 2022 Shin Tomatani All Rights Reserved.</p>
  </footer>
</body>
</html>
