* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: #E8E7E6;
  color: #403f3e;
}

h2, h3 {
  display: none;
}

header {
  background-color: #6d6c6a;
  width: 100%;
}

header h1 {
  font-family: GEORGIA;
  color: #faf9f8;
}

#upload {
  width: 100%;
  background-color: #d5d2d0;
  text-align: center;
  padding: 0.4em 0 0.5em;
}

#upload label {
  display: inline-block;
  position: relative;
  background: #6d6c6a;
  color: #faf9f8;
  font-size: 10pt;
  padding: 10px 18px;
  border-radius: 10px;
  transition: all 0.3s;
}

#upload label:hover {
  background: #a19f9d;
  transition: all 0.4s;
}

#upload input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

#upload span#filename {
  display: inline-block;
  font-weight: 10pt;
  margin: 0 0.5em;
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#upload p {
  color: #6d6c6a;
}

#error {
  background-color: red;
  margin-bottom: 1em;
}

#error li {
  list-style-type: none;
}

div#edit {
  width: 361px;
  margin: 0 auto 1em;
  text-align: center;
}

div#edit p {
  text-decoration: underline;
}

#orig_txt {
  display: none;
  margin-bottom: 1em;
}

#orig_txt label {
  display: inline-block;
  position: relative;
  background-color: #6d6c6a;
  color: #faf9f8;
  font-size: 10pt;
  padding: 10px 18px;
  border-radius: 10px;
  transition: all 0.3s;
}

#orig_txt label:hover {
  background-color: #a19f9d;
  transition: all 0.4s;
}

#orig_txt input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

#orig_txt p {
  margin-top: 0.5em;
}

#orig_txt textarea,
#trans_txt textarea {
  width: 360px;
  height: 200px;
}

footer {
  background-color: #6d6c6a;
  margin-top: auto;
  width: 100%;
  color: #faf9f8;
}

/* PC表示部 */
@media screen and (min-width: 768px) {
    body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	text-aling: center;
	background-color: #E8E7E6;
	color: #403f3e;
	font-family: Sans-Serif;
    }

    header {
	text-align: left;
	width: 100%;
    }

    header h1 {
	font-size: 1.5em;
	font-family: GEORGIA;
	color: #faf9f8;
	margin: 0.5em;
    }

    #upload {
    }

    #upload p {
    }

    #error {
    }

    #error li {
    }

    div#edit {
	display: none;
    }

    #translate {
	width: 768px;
	margin: 0 auto;
    }

    #orig_txt {
	display: block;
	float: left;
    }

    #orig_txt textarea,
    #trans_txt textarea{
	height: 400px;
    }

    #orig_txt label {
	display: inline-block;
	position: relative;
	background-color: #6d6c6a;
	color: #faf9f8;
	font-size: 10pt;
	padding: 10px 18px;
	border-radius: 10px;
	transition: all 0.3s;
    }

    #orig_txt label:hover {
	background-color: #a19f9d;
	transition: all 0.4s;
    }

    #orig_txt input {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
    }
    
    #orig_txt p {
	text-align: right;
    }

    #trans_txt {
    }

    footer {
	clear: both;
    }
}
